{% load static %}
{% if cards %}
  <section class="cards">
    <header>
      <img src="{% static 'img/cards.svg' %}" alt="Cards">
      <h2>{{ title }}</h2>
    </header>
    <div class="grid">
      {% for card in cards %}
        <article class="card">
          <h3><a href="{% url 'card-detail' card.slug %}">{{ card.title }}</a></h3>
          {% if card.description %}
            <p>{{ card.description }}</p>
          {% else %}
            <p>No description</p>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}
