{% load mptt_tags cms_tags allauth crispy_forms_tags %}
{% recursetree nodes %}
  <li>
    {{ node.name }}
    {% if not node.is_leaf_node %}
      <ul>
        {{ children }}
      </ul>
    {% endif %}
  </li>
{% endrecursetree %}
{% drilldown_tree_for_node node as drilldown %}
{% full_tree_for_model app.Model as tree %}
{% placeholder "content" %}
  <section>{{ content }}</section>
{% endplaceholder %}
{% static_placeholder "footer" %}
  <footer>Footer</footer>
{% endstatic_placeholder %}
{% render_model_block object "title" %}
  <h1>{{ object.title }}</h1>
{% endrender_model_block %}
{% render_model_add_block object %}
  <span>Add</span>
{% endrender_model_add_block %}
{% render_plugin_block plugin %}
  <article>{{ plugin }}</article>
{% endrender_plugin_block %}
{% element "button" type="submit" %}
  Save
{% endelement %}
{% crispy form %}
{% crispy_field form.name %}
{% crispy_addon form.email append="@example.com" %}
  {{ form.email }}
{% endcrispy_addon %}
